<div style="text-align:right;color:navy">Machine Learning, Data Science Review &nbsp;  &nbsp;  &nbsp; October 22, 2021</div>

# Machine Learning   &nbsp; &nbsp; <span style="font-size:20px; color:red">Homework 1 &nbsp; &nbsp; Due 2021/10/29</span>

&nbsp; <br />
在 Problem Set 4 中，我們使用 to_csv 儲存程式中產生的資料，存在 csv 檔案中，所以在人氣飲品的販賣機中，我們不只可以把銷售數量在程式中更新，其實可以在結束程式後，仍然可以記住銷售數量，如果再執行程式，也可以繼續累計並更新最新的銷售數據!!

所以這個作業可以分成三個部分 : 

    1. 銷售的介面，就是顧客所看到的 Menu 畫面，可以購買飲品 (Problem Set 1 的 Problem 1.7)，不過這個部分請同學再加上能讓顧客選擇杯數的功能，最多買4杯 (也就是再加上 Problem 2.2)。

    2. 第二部分的程式必須跟第一部分寫在一起，但是不顯示，所以顧客並不會看到。首先，必須先建一個 csv 檔，這次除了飲品名稱、價格之外，我們只需一個銷售數量的欄位，一開始可以是 0(Problem Set 4 的 Problem 2)，當顧客完成購買(第一部分)，接著必須要讀入銷售數量的 csv 檔，然後更新銷售數量，再更新銷售數量的 csv 檔!! 覆寫原來的 csv 檔時須注意是否建立 index!! 
    
    3. 第三個部分是老闆用來查閱的程式，跟前面的部份可以是各自獨立，就是讀取 csv 即可!!

In [1]:
# Homework 1
import pandas as pd 
data=pd.read_csv('teaSales.csv')
menu= data['Tea']
prices=data['Price']
print("Our popular drinks, welcome to buy:")
for i in range(len(menu)):
    print(i+1,menu[i],"...NTD",prices[i])
choice,amount=int(input("Which drink do you want to buy? Please choose 1, 2, 3, 4: "))-1,int(input("Quantity: "))
total=amount*prices[choice]
print("You selected",amount,menu[choice],"total:",total,"NTD") 
payment= int(input('please insert your payment(1NTD coins not recieved.): '))
if payment<total or payment%5!= 0:
    print('not enough or amount not valid. Refund:',payment)
else :
    print('You pay:',payment,'NTD.','Change:',payment-total,'NTD. Thanks for your purchase!. Have a Good One!!!')
    data.at[choice,'Sales']+=total
    data.to_csv('teaSales.csv',index=False,encoding='utf-8')

Our popular drinks, welcome to buy:
1 Pearl milk tea ...NTD 50
2 Jasmine Green Tea ...NTD 35
3 Frozen Lemon Tea ...NTD 40
4 Kumquat Lemon ...NTD 45
Which drink do you want to buy? Please choose 1, 2, 3, 4: 1
Quantity: 4
You selected 4 Pearl milk tea total: 200 NTD
please insert your payment(1NTD coins not recieved.): 500
You pay: 500 NTD. Change: 300 NTD. Thanks for your purchase!. Have a Good One!!!

In [2]:

sales= pd.read_csv('teaSales.csv')
sales

                 Tea  Price  Sales
0     Pearl milk tea     50    200
1  Jasmine Green Tea     35     70
2   Frozen Lemon Tea     40      0
3      Kumquat Lemon     45     45